page-landing {
    .landing{
    background-image: url('../assets/imgs/daniel-von-appen-262804-unsplash.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    }
    
    
    .MainButtons button{
        margin-top: 9px;
        margin-bottom: 9px;
    }


}
