page-landing {
    background-image: url('../img/jason-leung-602320-unsplash.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size:cover;
    
    
    .MainButtons button{
        margin-top: 9px;
        margin-bottom: 9px;
    }


}
