page-signup {

    .signup{
        background-image: url('../assets/imgs/jason-leung-602320-unsplash.jpg');
        background-color: transparent;
        background-repeat: no-repeat;
        background-size:cover;
        }

        .item {
            border-color: rgba(0, 0, 0, 0);
            background-color: rgba(0, 0, 0, 0);
            font-weight: bold;
        }
}
